<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini Photoshop</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div class="header">
      <h3>Mini Photoshop</h3>
    </div>
    <div
      class="content"
      style="
        display: flex;
        flex-direction: row;
        width: 100vh;
        height: 100vh;
        padding: 0px;
      "
    >
      <div class="fitur">
        <form action="/undo" method="post">
          <button>
            <img
              src="../static/assets/undo.png"
              style="width: 20; height: 20px"
            />
          </button>
          <input type="hidden" name="image" value="{{ filename }}" />
        </form>
        <form action="/redo" method="post">
          <button>
            <img
              src="../static/assets/redo.png"
              style="width: 20; height: 20px"
            />
          </button>
          <input type="hidden" name="image" value="{{ filename }}" />
        </form>
        <form action="/negative" method="post">
          <button>
            <img
              src="../static/assets/negative.png"
              style="width: 20; height: 20px"
            />
          </button>
          <input type="hidden" name="image" value="{{ filename }}" />
        </form>

        <form action="/grayscale" method="post">
          <button onclick="grayscale">
            <img
              src="../static/assets/grayscale.png"
              style="width: 20; height: 20px"
            />
          </button>
          <input type="hidden" name="image" value="{{filename}}" />
        </form>

        <form action="/complement" method="post">
          <button onclick="complement">
            <img
              src="../static/assets/complement.png"
              style="width: 20; height: 20px"
            />
          </button>
          <input type="hidden" name="image" value="{{filename}}" />
        </form>

        <form action="/flipv" method="post">
          <button onclick="complement">
            <img
              src="../static/assets/flip-v.png"
              style="width: 20; height: 20px"
            />
          </button>
          <input type="hidden" name="image" value="{{filename}}" />
        </form>

        <form action="/fliph" method="post">
          <button onclick="complement">
            <img
              src="../static/assets/flip-h.png"
              style="width: 20; height: 20px"
            />
          </button>
          <input type="hidden" name="image" value="{{filename}}" />
        </form>

        <form action="/rotateccw" method="post">
          <button onclick="complement">
            <img
              src="../static/assets/rotate-ccw.png"
              style="width: 20; height: 20px"
            />
          </button>
          <input type="hidden" name="image" value="{{filename}}" />
        </form>

        <form action="/rotatecw" method="post">
          <button onclick="complement">
            <img
              src="../static/assets/rotate-cw.png"
              style="width: 20; height: 20px"
            />
          </button>
          <input type="hidden" name="image" value="{{filename}}" />
        </form>
        <form action="/zoomout" method="post">
          <button onclick="complement">
            <img
              src="../static/assets/zoom-out.png"
              style="width: 20; height: 20px"
            />
          </button>
          <input type="hidden" name="image" value="{{filename}}" />
        </form>
        <form action="/zoomin" method="post">
          <button onclick="complement">
            <img
              src="../static/assets/zoom-in.png"
              style="width: 20; height: 20px"
            />
          </button>
          <input type="hidden" name="image" value="{{filename}}" />
        </form>

        <form action="/brightening" method="post">
          <button onclick="complement">
            <img
              src="../static/assets/brightening.png"
              style="width: 20; height: 20px"
            />
          </button>
          <input type="hidden" name="image" value="{{filename}}" />
        </form>

        <form action="/contrast" method="post">
          <button onclick="complement">
            <img
              src="../static/assets/contrast.png"
              style="width: 20; height: 20px"
            />
          </button>
          <input type="hidden" name="image" value="{{filename}}" />
        </form>

        <form action="/ltransformation" method="post">
          <button onclick="complement">
            <img
              src="../static/assets/log.png"
              style="width: 20; height: 20px"
            />
          </button>
          <input type="hidden" name="image" value="{{filename}}" />
        </form>

        <form action="/ptransformation" method="post">
          <button onclick="complement">
            <img
              src="../static/assets/power.png"
              style="width: 20; height: 20px"
            />
          </button>
          <input type="hidden" name="image" value="{{filename}}" />
        </form>

        <form action="/blur" method="post">
          <button onclick="complement">
            <img
              src="../static/assets/blur.png"
              style="width: 20; height: 20px"
            />
          </button>
          <input type="hidden" name="image" value="{{filename}}" />
        </form>

        <form action="/sharp" method="post">
          <button onclick="complement">
            <img
              src="../static/assets/sharpen.png"
              style="width: 20; height: 20px"
            />
          </button>
          <input type="hidden" name="image" value="{{filename}}" />
        </form>

        <form action="/noise" method="post">
          <button onclick="complement">
            <img
              src="../static/assets/noise.png"
              style="width: 20; height: 20px"
            />
          </button>
          <input type="hidden" name="image" value="{{filename}}" />
        </form>

        <form action="/download" method="post" style="float: right">
          <button>
            <img
              src="../static/assets/download.png"
              style="width: 20; height: 20px"
            />
          </button>
          <input type="hidden" name="image" value="{{ filename }}" />
        </form>
      </div>
      <div class="image">
        {% if filename %} <img src={{ "../static/" + filename }} alt="User
        Image" /> {% endif %}
        <p>{{filename}}</p>
      </div>
    </div>
  </body>
</html>
